<%# @rating_asc.each do |rating| %>
  <%# post = Post.find(rating.post_id) %>
<!--  <h3><%#= post.content %></h3>-->
<!--  Average = <%#= rating.average %>-->

  <%#= link_to "Show", "/posts/#{post.id}" %>
<!--  <hr>-->
<%# end %>
<!--================================================================================================================<br>-->
<% rank = 0 %>

<% prev = 0 %>
<% @rating.each do |rating| %>

  <% if prev == rating.average %>
    Rank = <%= rank %>
    <% rank += 1 %>
  <% else %>
    <% rank += 1 %>
    Rank = <%= rank %>
  <% end %>
  <% post = Post.find(rating.post_id) %>
  <h3><%= post.content %></h3>
  Average = <%= rating.average %>
  <% prev = rating.average %>

  <%= link_to "Show", "/posts/#{post.id}" %>
  <hr>
<% end %>